<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="BookTitle">Book Title</label>
    <input id="BookTitle" type="text" class="form-control" formControlName="BookTitle" required>
    <div
      *ngIf="bookForm.get('BookTitle')?.invalid && (bookForm.get('BookTitle')?.dirty || bookForm.get('BookTitle')?.touched)"
      class="alert alert-danger">
      Book title is required.
    </div>
  </div>

  <div class="form-group">
    <label for="Author">Author</label>
    <input id="Author" type="text" class="form-control" formControlName="Author" required>
    <div *ngIf="bookForm.get('Author')?.invalid && (bookForm.get('Author')?.dirty || bookForm.get('Author')?.touched)"
      class="alert alert-danger">
      Author is required.
    </div>
  </div>


  <div class="form-group">
    <label for="CategoryID">Category</label>
    <select id="CategoryID" class="form-control custom-select" formControlName="CategoryID" required>
      <option *ngFor="let category of categories" [value]="category.CategoryID">{{category.CategoryName}}</option>
    </select>
    <div
      *ngIf="bookForm.get('CategoryID')?.invalid && (bookForm.get('CategoryID')?.dirty || bookForm.get('CategoryID')?.touched)"
      class="alert alert-danger">
      Category is required.
    </div>
  </div>
  <button *ngIf="!isUpdating()" type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">
    Add Book
  </button>

  <button *ngIf="isUpdating()" type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">
    Update Book
  </button>


</form>
