<div class="d-flex justify-content-start mt-3">
  <button routerLink="/category/add" class="btn btn-primary">
    <i class="fas fa-plus-circle"></i> Add Category
  </button>
</div>
<h2>Category List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Category Name
        <button class="btn btn-link btn-sm" (click)="toggleSortDirection(); sortCategories('CategoryName')">Sort {{
          getSortIcon() }}</button>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td class="m-2">{{ category.CategoryName }}</td>
      <td>
        <button class="btn btn-warning btn-sm m-1" (click)="onUpdate(category.CategoryID)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger btn-sm m-1" (click)="onDelete(category.CategoryID)">
          <i class="fas fa-trash"></i>
        </button>

      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-start mt-3">
  <button routerLink="/category/add" class="btn btn-primary">
    <i class="fas fa-plus-circle"></i> Add Category
  </button>
  <button *ngIf="isAddCategoryRoute" routerLink="/category" class="btn btn-primary">
    <i class="fa-solid fa-circle-xmark"></i> Close
  </button>

</div>
<router-outlet></router-outlet>
