.category-link {
  font-size: 1.5em;
  color: #007bff;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.category-link:hover {
  color: green;
  text-decoration: none;
}

.book-link {
  font-size: 1.2em;
  color: #6c757d;
  transition: color 0.3s ease-in-out;
}

.book-link:hover {
  color: green;
  text-decoration: none;
}

.no-books {
  font-style: italic;
}
