<div class="container my-5">
  <ol>
    <li *ngFor="let category of categories; index as i" class="my-3">
      <a (click)="onPreview(category.CategoryID)" class="category-link">
        <i class="fas fa-folder"></i> {{ category.CategoryName }}

      </a>
      <ol class="pl-3">
        <li *ngFor="let book of category.Books" class="my-2">
          <a [routerLink]="['/preview', book.BookID]" class="book-link">
            <i class="fas fa-book"></i> {{ book.BookTitle }} by
            <span class="text-primary">{{ book.Author }}</span>
          </a>
        </li>
        <li *ngIf="!category.Books.length" class="no-books text-muted">
          No books in this category
        </li>
      </ol>
    </li>
  </ol>
</div>
