<div class="container my-5">
  <div *ngFor="let category of categories">
    <h2 class="mb-3">{{ category.CategoryName }}</h2>
    <table class="table table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Book Title</th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of category.Books">
          <th scope="row"><i class="fas fa-book"></i></th>
          <td>{{ book.BookTitle }}</td>
          <td>{{ book.Author }}</td>
        </tr>
        <tr *ngIf="!category.Books.length">
          <td colspan="3" class="text-center">No books in this category</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
