<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="BookTitle">Category name</label>
    <input id="BookTitle" type="text" class="form-control" formControlName="categoryName" required>
  </div>

  <div class="form-group">
    <!-- ... -->
  </div>



  <!-- Wyświetl przycisk "Add category", jeśli nie ma parametru 'id' -->
  <button *ngIf="!isUpdating()" type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">
    Add category
  </button>

  <!-- Wyświetl przycisk "Update category", jeśli parametr 'id' istnieje -->
  <button *ngIf="isUpdating()" type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">
    Update category
  </button>

</form>
