<main>
  <div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4">Welcome to Read Me, Maybe!</h1>

      <p>This project was completed as part of the "Programming Frameworks in Web Applications" course. Check out our
        GitHub profiles:</p>
      <div class="d-flex justify-content-center">
        <a href="https://github.com/wojciech-lasota" target="_blank" class="btn btn-dark btn-lg mr-2"><i
            class="fab fa-github"></i> Wojciech Lasota</a>
        <a href="https://github.com/janikRafal" target="_blank" class="btn btn-dark btn-lg ml-2"><i
            class="fab fa-github"></i> Rafał Janik</a>
      </div>
    </div>
  </div>
</main>
