<main>
  <div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4">Welcome to Read Me, Maybe!</h1>
      <p class="lead">This is a simple reading wishlist application for all the book lovers out there. Ever found
        yourself forgetting that one book you wanted to read? No more! Simply create an account, log in, and start
        adding books to your personalized list. It's easy, efficient and all your future reads in one place.</p>
      <hr class="my-4">
      <p>Don't have an account yet? Sign up now and start building your book wishlist.</p>
      <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up</a>
      <p>or log in</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
    </div>
  </div>
</main>

<footer class="bg-primary text-light text-center py-3 fixed-bottom">
  <p>&copy; 2023 Read Me, Maybe. All rights reserved.</p>
</footer>
